<html>
  <body>
    <div>
      <p style="color: black"><%= type %></p>
      <p style="color: black">comment id: <%= id %></p>
      <p style="color: black"><%= text %></p>
      <p style="color: black">post id: <%= post %></p>
    </div>
  </body>
</html>
