<html>
  <body>
    <div>
      <p style="color: black"><%= type %></p>
      <p style="color: black"><%= id %></p>
      <p style="color: black"><%= title %></p>
      <p style="color: black"><%= content %></p>
    </div>
  </body>
</html>
