<html>
  <body>
    <div>
      <p style="color: black"><%= type %></p>
      <p style="color: black"><%= id %></p>
      <p style="color: black"><%= text %></p>
      <p style="color: black"><%= post %></p>
    </div>
  </body>
</html>
